#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 2em;
  border-radius: 10px;
  background-color: #65A4A1;
}

.card {
  padding: 2em;
  background-color: #65A4A1;
}

.card-title {
  font-size: 30px !important;
}

.selected-puzzle {
  border: 3px solid #DB760A;
  border-radius: 10px;
  padding: 2px;
}

form input.form-control {
  background-color: #f5f3e0;
}
